.App {
  text-align: center;
}

.title {
  background-color: #191a1a;
  color: white;
  height: 20%;
  left:0px;
  right: 0px;
  padding-top:4vh;
  font-size: 4vh;
  position: fixed;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.authorName{
  font-size: 3vh;
}